<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>はるぴか</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>わかめさんのを改造しました</h1>
      <p>スプラ楽しいぃ</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <h2>スプラについて</h2>
      <p>
        得意な武器について<br>
スプラチャージャーが得意です。<br>
スプラチャージャーはエイムがむずいです。。<br>
他にはスプラスプラマニューバコラボが得意です。
      </p>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>はるぴか</p>
    </div>
  </footer>
</body>
</html>
