<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>はるぴか</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>はるぴか</h1>
      <p>wiki</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
        <li><a href="/">ホーム</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <p>
        <strong>スプラ</strong>とは、ゲームです
      </p>
      <h2>概要</h2>
      <figure>
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Korea-Miyeok-01.jpg" alt="積み上げらたswitchタワー" style="width: 300px;">
    <figcaption>積み上げられたswitchタワー</figcaption>
      </figure>

      <p>
        switchは任天堂が開発したもの<br>
       スプラは人気多分
      </p>
      <h2>
        ゲーム
      </h2>
      <p>
        楽しい
      </p>
      <h2>
        
      </h2>
      <p>
        
      </p>
      <h2>
        〆
      </h2>
      <p>
        
      </p>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>from はるぴか</p>
    </div>
  </footer>
</body>
</html>
